<html>
    <head>
        <title>My Task List</title>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
         integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/styles.css" type="text/css">
        <script src="assets/operations.js"></script>
    </head>
    <body>
        <h1>My Task List</h1>
        <a href="https://github.com/AditiAgarwal-jiit/nodejs" target="_blank"><i id="info" title="About the app" class="fas fa-info-circle"></i></a>
        <div id="todo-list">
            <div id="overlay"></div>
        <form action="">
            <input type="text" name="task" placeholder="Add New Todo" required />
            <button type="submit">Add Task</button>
        </form>
        <ul>
           <% for(var i=0; i < todos.length; i++){ %>
        <li><%= todos[i].task %></li>
        <% } %>
        </ul>
        </div>
    </body>
</html>